---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="关于我">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi✋，我是可乐君。一位来自中国大陆的业余开发者。
      <br />
      <br />
      我常用的主要工具包括:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>Astro</li>
        <li>HTML</li>
        <li>PHP</li>
        <li>C++</li>
        <li>SQL</li>
        <li>JavaScript</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      除了写代码，我也掌握土木工程相关软件如AutoCAD，PKPM等工具的使用；同时我也是一名业余天文 和无线电
      爱好者。目前也在学习产品经理相关知识。
    </p>
  </div>
</Card>
