---
import { Card as ShadcnCard } from '../ui/card'
import Pulse from '../Pulse.astro'
---

<ShadcnCard
  className="card-animate transform-y-[-40%] align-start perspective-1200 group relative col-span-1 md:col-span-1 row-span-1 md:row-span-2 h-40 md:h-full w-full flex-none transform justify-start overflow-hidden transition duration-75 ease-in-out p-0"
>
  <a 
    href="https://map.baidu.com/poi/%E6%BE%B3%E9%97%A8%E5%A4%A7%E5%AD%A6/@12641274.195,2511304.25,19z?uid=ce12fe3348045569f33cbace&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&pcevaname=pc4.1&querytype=detailConInfo&da_src=shareurl" 
    target="_blank" 
    rel="noreferrer" 
    class="block h-full w-full group"
  >
    <div class="absolute inset-0 z-10 bg-[url('/map.webp')] bg-center bg-cover bg-no-repeat filter grayscale-0 sm:grayscale sm:group-hover:grayscale-0 transition-all"></div>
    
    <div class="absolute top-0 left-0 right-0 z-20 p-4">
      <div class="flex w-full items-start justify-between">
        <div class="flex flex-col">
          <h2 class="text-white drop-shadow-md">现在的位置</h2>
          <span class="text-xs text-gray-200 drop-shadow-md">澳门大学</span>
        </div>
        <Pulse />
      </div>
    </div>
    
    <div class="absolute z-30 left-1/2 top-1/2 h-[20px] w-[20px] -translate-x-1/2 -translate-y-1/2 animate-marker rounded-full bg-blue-500"></div>
    <div class="absolute left-1/2 top-1/2 z-30 h-[20px] w-[20px] -translate-x-1/2 -translate-y-1/2 rounded-full border-[3px] border-neutral-50 bg-blue-500 shadow-2xl"></div>
  </a>
</ShadcnCard>

<style>
  @keyframes marker {
    0% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
    50% { transform: translate(-50%, -50%) scale(1.5); opacity: 0.5; }
    100% { transform: translate(-50%, -50%) scale(2); opacity: 0; }
  }

  .animate-marker {
    animation: marker 2s ease-out infinite;
  }
</style>