---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'

const GAMES = [
  {
    name: "我的世界",
    platform: "PC/Mobile",
    link: "https://www.minecraft.net/"
  }
]
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="爱好游戏">
  <div 
    class="absolute inset-0 z-[-1] opacity-30 bg-cover bg-center transition-transform duration-300 ease-in-out hover:scale-110" 
    style="background-image: url('/mc.webp');"
  >
  </div>
  
  <div class="mt-2 flex w-full flex-col items-center justify-center gap-4">
    <h3 class="text-xl font-bold text-[rgb(249,115,22)]">我最爱的游戏</h3>
    <div class="flex flex-wrap items-center justify-center gap-2">
      {
        GAMES.map((game) => (
          <a href={game.link} target="_blank" rel="noopener noreferrer">
            <Badge variant="outline" >
              {game.name} - {game.platform}
            </Badge>
          </a>
        ))
      }
    </div>
  </div>
</Card>